html,body{min-height:100vh}
body{display:flex;justify-content:center;align-items:center;overflow:hidden;}

/*PAGE FLIP
The .book is a container with relative position to be use as reference for position of its children*/
.book { border: 1px solid red; position:relative; transform-style:preserve-3d;}/*preserve-3d is needed to have a z axis (perspective, translateZ)  */
/* The page container is the one that makes the flips that change the page making the visible hidden and vice versa*/
.page { position:absolute; width:32.9%; height:98.4%; top:0.5%; left:50.1%; transform-style:preserve-3d;  }
/*To have a page with text for both parts we need the sides to be hidden were are on its back and be in the exact position */
.side { position:absolute; top:0; left:0; backface-visibility:hidden; width:100%; height:100%; transform-style:preserve-3d; }
.side0 { transform:none; }/*This side starts visible*/
.side1 { transform:rotateY(180deg); }/*This side starts hidden*/
.book { width:90vw; height:85vh; perspective:2000px; } /* Perspective: how far is from the screen, like transformz() but affects all of its children*/
.page { transition:transform 2s; transform-origin:left center; }/*transform-origin makes the flip be from the left instead of the center*/

.to-the-left {
  border: 1px solid black;
  position:absolute;
  bottom: 0%;
  left: 13%;
  width: 15%;
  height: 10%;
  z-index: 99;
}
.to-the-right {
  border: 1px solid black;
  position:absolute;
  bottom: 0%;
  right: 13%;
  width: 15%;
  height: 10%;
  z-index: 99;
}
.img-book{
  position:absolute; width:70%; max-height: 100%; z-index: -10; top:0; left: 15%;
}

.side0 { 
    background-image: url('../img/lPage.png');
    background-size: cover;
  }
  .side1 { 
    background-image: url('../img/fullaEsquerra.png');
    background-size: cover
  }


body {
  background-image: url('../img/background-table.jpg');
  display: flex;
  flex-direction: column; 
}

img{
    max-width: 100%
}



/*Nav*/
nav{
  border: 1px solid red;
  display:flex;
  justify-content: space-between;
  width: 60%
}
#nav-buttons{
  border: 5px solid green;
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

/* home */
.home{
  margin-left: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
  width: 20rem;
  height: 40rem;
}

/*flex-recomendations */
.flex-recomendations{
  display:flex;
  flex-wrap: wrap;
  border: 1px solid red;
}
.flex-recomendations img{
  width: 10rem;
  margin: 1rem;
}
/*
basic-recomendations
*/
.basic-recomendations{
  border: 5px solid blue;
  padding: 10px;
  margin-top: 3rem;
}
.basic-recomendations img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* SHADOWS
Add shadow to the book img only
.page:first-of-type .side0 { 
  box-shadow:-10px 0 10px -6px rgba(0,0,0,0.3);
} 

.page:last-of-type .side1 {
  box-shadow:10px 0 10px -6px rgba(0,0,0,0.3);
} 
*/

